body {
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}



.carousel-indicators .active{
    background-color: #f8803b;
}

#socials {
  padding: 5px;
  background-color: black;
}

#socials .row i {
    color: #ffffffec;
    font-size: 25px;
}

#imgBox .col-6 {
  padding: 5px;
  position: relative;
  text-align: center;
  background-color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.centered p {
    font-size: 8vw; 
}

#shopBtn {
   position: absolute;
  top: 64%;
  left: 50%;
}

#releaseBtn {
   position: absolute;
  top: 64%;
  left: 50%;
}

#gigs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    background-color: black;
}

#gigs .d-flex {
    display: flex;
    flex-flow: row wrap;
}

#gigs img {
}

#gigs a {
    margin-top: 1px;
}

#gigs .btn {
    padding: .275rem .5rem;
    border: 0.1em groove #dad5d5 ;
}

.Fb-button {
    height: 40px;
    width: 90px;
}

.Fb-button span {
    margin-left: 4px;
    margin-top: -1px;
}

.Fb-button i {
    color: #182f6dd3
}

.giginfo {
    margin-left: 2.5px;
    background-color: white;
}

.giginfo p {
    margin: -0.3em; 
}

.giginfo2 {
    margin-top: 20px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.giginfo2 p {
    margin: -0.3em;
}


.event-date {
    width: 15vw;
    margin-top: 10px;
}

.date-text {
    color: red;
    margin-top: 10px;
}

.event-details {
    width: 65vw;
    margin-top: 10px;
    margin-left: -5px;
    margin-bottom: 10px;
}

.event-details p {
    text-align: left;
}

.event-tickets {
    width: 15vw;
    margin-left: 5px;
    margin-top: 8px;
}

#giginfo .btn {
    padding: .275rem .5rem;
}

#eventPic {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    line-height: 0;
    margin-bottom: 5px;
}

#rillsLink {
    padding: 0 !important;
    margin-left: 5px;
}

.likePage {
    text-siz
}

#youtube {
    padding: 30px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#signUp .col {
  padding: 5px;
  position: relative;
  text-align: center;
}

#profileBtn {
   position: absolute;
  top: 50%;
  left: 50%;
}

div .col {
  margin: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Extra small devices */
@media(max-width:544px){
    .openbtn .bar-icon .fas {
        font-size:20px;
    }

    .row .col-2 .fab {
        font-size: 15px;
    }

    .openbtn {
        padding: 0 0;
    }

}
/* Small devices */
@media(min-width:544px){
    .openbtn .bar-icon .fas {
        font-size:20px;
    }

    .openbtn {
        padding: 0 0;
    }

}
/* Medium devices */
@media(min-width:768px){
    .openbtn {
        padding: 0 0;
    }
}

/* Large devices */
@media(min-width:992px){
    .row .col-2 .fab {
        font-size: 30px;
    }

    
}

/* Exrta Large devices */
@media(min-width:1200px){
    .row .col-2 .fab {
        font-size: 30px;
    }

}